#Name {
  color: White;
}

#Education {
  color: White;
}

#Objetivo {
  color: White;
}

#LinkedIn {
  color: White;
}
#Experience {
	color: White;
}

#Skills {
	color: White;
}

body {
	font-family: "Courier New", Sans-Serif;
	background-color: #034f84;	
}

h3 {
	color: White;
	font-family: "Courier New",Sans-Serif;
}

li {
	color: White;
}

p {
	color: White;
}


#line {
	color: White;
}

h1 {
	font-family: "Courier New", Sans-Serif;
	
} 



